body {
    font-size: 1.2rem;
}

select {
    font-size: inherit;
}

td {
    border: solid 1px;
    padding: 0.1em 0.4em;
}

table {
    border-collapse: collapse;
    margin: 0.5rem;
}

.init-data {
    float: left;
}

.corrected-data {
    float: left;
}

hr {
    clear: both;
}

.report {
    float: left;
}