* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    padding: 0.5rem;
    font-size: 1.2rem;
    /* font-size: 0.2rem; */
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

header {
    padding-bottom: 0.4rem;
}

main {
    overflow: auto;
}

footer {
    /* position: absolute; */
    /* position: sticky; */
    padding-top: 0.4rem;
}

select, input {
    font-size: inherit;
    /* font-style: italic; */
}

tr {
    height: 1.7rem;
}

td, th {
    border: solid 1px;
    padding: 0.1em 0.4em;
}

th {
    text-align: left;
    font-weight: normal;
    width: 18em;
}

td {
    width: 7rem;
}

table {
    border-collapse: collapse;
    /* margin-inline: 0.5rem; */
    /* margin-bottom: 0.5rem; */
}

.hidden {
    display: none;
}

.save {
    float: right;
    font-size: inherit;
    padding-inline: 0.5em;
    /* color: gray; */
}

#dew-point {
    width: 0.7em;
    min-width: 0.7em;
    padding-inline: 0.1em;
}

#dp-pressure {
    padding-inline: 0.1em;
}

.td-input {
    padding: 0, 0.4em;
}

.table-input {
    border: none;
    border-bottom: 1px solid gray;
    padding-inline: 0.1em;
}

.table-input:disabled {
    border: none;
    color: black;
}

.gas-composition {
    display: flex;
    gap: 1rem;
}

.space {
    clear: both;
    /* margin: 0.4rem; */
    padding: 0.3rem;
}

#humidity-data {
    margin-top: 0.5rem;
}

.wet-report {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
}

.version {
    text-align: center;
    /* float: right; */
    font-size: 1rem;
}