* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    font-size: 1.2rem;
}

select, input {
    font-size: inherit;
    font-style: italic;
}

td {
    border: solid 1px;
    padding: 0.1em 0.4em;
}

table {
    border-collapse: collapse;
    margin-inline: 0.5rem;
}

.main-input {
    width: fit-content;
}

#total-control {
    text-align: right;
    padding-inline: 1em;
}

.td-input {
    padding: 0, 0.4em;
}

.table-input {
    border: none;
    width: 6em;
}

/* .init-data {
    float: left;
} */

.main-input, .corrected-data {
    float: left;
}

.space {
    clear: both;
    margin: 0.4rem;
    padding: 0.4rem;
}

.report {
    float: left;
}